@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}

body{
  padding: 0px;
}

.create-container{
  width: 100%;
  transform: translateY(120px);
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.create-container .principal-information{
  width: 60%;
  margin: 0px 0px 0px 20%; 
  text-align: center;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
}

.create-container .principal-information img{
  width: 300px;
  height: 250px;
}

.create-container .principal-information h1{
  color: white;
}

.create-container .principal-information .checkbox{
  color: white;
  display: flex; 
  flex-direction: row;
}

.create-container .secondary-information{
  width: 0px;
  margin: 0px 0px 0px 0px;
  transform: translateX(2000px);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  padding-bottom: 20px;
  padding-top: 200px;
  transition: all 0.5s ease-in-out;
  text-align: center;
}

.create-container .secondary-information h1{
  color: white;
}

.create-container .secondary-information img{
  width: 200px;
}

.create-container .secondary-information .client-photo{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.create-container .secondary-information .photo-picker {
  position: relative;
  display: inline-block;
  margin-bottom:40px ;
}

.create-container .secondary-information .photo-picker::before {
  background-color: #5678EF;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Subir foto'; 
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.create-container .secondary-information .photo-picker input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

.select{
  width: 95%;
  margin:0px 0px 30px 0px;
  height: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  color:white;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  cursor: pointer;
}

.select option{
  background-color: black;
}

/*change formulary*/
.create-container .change-first{
  width: 0%;
  margin: 0px 0px 0px 0px;
  transform: translateX(-2000px);
}

.create-container .change-second{
  width: 60%; 
  margin: 0px 0px 0px 20%;
  transform: translateX(0px);
}
