.record{
  width: 80%;
  margin: 0px 0px 190px 10%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  transform: translateY(140px);
}

.record .record-header{
  width: 100%;
  margin: 0px 0px 30px 0px;
  text-align: center;
}

.record-header h1{
  text-align: center;
  color: white;
}

.record .record-header img{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 30px 0px 30px 0px;
}

.record .record-body{
  width: 100%;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: white;
  margin: 0px 0px 40px 0px;
}

.record .record-body h1{
  color: white;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

.record .grid-information{
  width: 90%;
  margin: 0px 0px 20px 5%;
  display: grid;
  grid-template-columns: 50% 50%; 
  grid-gap: 3%;
}

.record .grid-information .left h3,
.record .grid-information .right h3{
  color: white;
  text-align: left;
  font-size: 200%;
}

